<a href="https://colab.research.google.com/github/tiagoflorin/DataScience1/blob/clase_2/clase_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lista_de_nombres = """
1.  Hugo
2.  Martín
3.  Lucas
4.  Mateo
5.  Leo
6.  Daniel
7.  Alejandro
8.  Pablo
9.  Manuel
10.  Álvaro
11.  Adrián
12.  David
13.  Mario
"""

print(lista_de_nombres)

1.  Hugo
2.  Martín
3.  Lucas
4.  Mateo
5.  Leo
6.  Daniel
7.  Alejandro
8.  Pablo
9.  Manuel
10.  Álvaro
11.  Adrián
12.  David
13.  Mario

In [ ]:
lista_cleaned =  lista_de_nombres.split("\n")

In [ ]:
lista_cleaned

['',
 '1.  Hugo',
 '2.  Martín',
 '3.  Lucas',
 '4.  Mateo',
 '5.  Leo',
 '6.  Daniel',
 '7.  Alejandro',
 '8.  Pablo',
 '9.  Manuel',
 '10.  Álvaro',
 '11.  Adrián',
 '12.  David',
 '13.  Mario',
 '']

In [ ]:
lista_completamente_limpia = []

In [ ]:
for name in lista_cleaned:
    if name  == "":
        print("vacio")
    else:
        solo_nombre = name.split("  ")[1]
        lista_completamente_limpia.append(solo_nombre)

vacio
vacio

In [ ]:
lista_completamente_limpia

['Hugo',
 'Martín',
 'Lucas',
 'Mateo',
 'Leo',
 'Daniel',
 'Alejandro',
 'Pablo',
 'Manuel',
 'Álvaro',
 'Adrián',
 'David',
 'Mario']